<div class="room-container">
  <table>
    <thead>
      <tr>
        <th>Room Name</th>
        <th>Identifier</th>
        <th>Level</th>
        <th>Availability</th>
        <th>Number of Places (Sitting)</th>
        <th>Number of Places (Standing)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>namenamename</td>
        <td>idididid</td>
        <td>levellevellevel</td>
        <td>available</td>
        <td>123</td>
        <td>12321</td>
      </tr>
    </tbody>
  </table>  
</div>

