h1 {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

.app-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    background-color: grey;
    height: 100vh;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1
}

app-reservations {
    flex-grow: 10
}