h1 {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
    width: 100%;
  }


