<div class="organizations-container" [@slideInAnimation]>
    <h2>ORGANIZATIONS</h2>
    <div class="table">
        <table mat-table [dataSource]="dataSource" class="mat-table">
            <ng-container matColumnDef="organizationId">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let organization">{{ organization.id }}</td>
            </ng-container>
            <ng-container matColumnDef="organizationName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let organization">{{ organization.name }}</td>
            </ng-container>
            <ng-container matColumnDef="organizationRoom">
                <th mat-header-cell *matHeaderCellDef> Rooms </th>
                <td mat-cell *matCellDef="let organization">
                  <ng-container *ngIf="organization.rooms.length > 0">
                    <div *ngFor="let room of organization.rooms">{{ room.name }}</div>
                  </ng-container>
                  <div *ngIf="organization.rooms.length === 0">No rooms</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="organizationDelete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let organization">
                    <button mat-raised-button color="primary" (click)="deleteOrganization(organization.id)">Delete</button>
                </td>
            </ng-container>
            <tr class="uppercase-cell" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="uppercase-cell" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="organizations.length" aria-label="Select page of users"></mat-paginator>
    </div>
    <div class="forms-container">
        <div class="form">
            <h2>ADD NEW ORGANIZATION</h2>
            <form (ngSubmit)="createOrganization()" #organizationForm="ngForm">
                <mat-form-field appearance="fill">
                <mat-label for="name">Name:</mat-label>
                <input
                    matInput
                    type="text"
                    id="organizationName"
                    [(ngModel)]="newOrganization.name"
                    name="organizationName"
                    required
                    minlength="2"
                    maxlength="20"
                    #nameInput="ngModel"
                />
                    <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
                        <span *ngIf="nameInput.errors?.['required']">Name is required.</span>
                        <span *ngIf="nameInput.errors?.['minlength']">
                        Name must be at least 2 characters long.
                        </span>
                        <span *ngIf="nameInput.errors?.['maxlength']">
                        Name cannot exceed 20 characters.
                        </span>
                    </mat-error>
                </mat-form-field>
                <button color="accent" mat-raised-button type="submit">Add Organization</button>
                <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            </form>
        </div>
        <div class="form">
            <h2>UPDATE EXISTING ORGANIZATION</h2>
            <form (ngSubmit)="updateOrganization()" #updateForm="ngForm">
              <mat-form-field appearance="fill">
                <mat-label for="existingName">Select Organization:</mat-label>
                <mat-select matNativeControl id="existingName" [(ngModel)]="existingOrganizationName" name="existingName" required>
                  <mat-option *ngFor="let organization of organizations" [value]="organization.name">{{ organization.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label for="newName">New Name:</mat-label>
                <input matInput type="text" id="newName" [(ngModel)]="newOrganizationName" name="newName" required minlength="2" maxlength="20" #nameInput="ngModel" />
                <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
                  <span *ngIf="nameInput.errors?.['required']">Name is required.</span>
                  <span *ngIf="nameInput.errors?.['minlength']">Name must be at least 2 characters long.</span>
                  <span *ngIf="nameInput.errors?.['maxlength']">Name cannot exceed 20 characters.</span>
                </mat-error>
              </mat-form-field>
              <button color="accent" mat-raised-button type="submit">Update Organization</button>
              <div class="success-message" *ngIf="updateSuccessMessage">{{ updateSuccessMessage }}</div>
              <div class="error-message" *ngIf="updateErrorMessage">{{ updateErrorMessage }}</div>
            </form>
          </div>
          <div class="form">
            <h2>ADD ROOM TO ORGANIZATION</h2>
            <form (ngSubmit)="addRoomToOrganization()" #roomForm="ngForm">
              <mat-form-field appearance="fill">
                <mat-label for="organization">Select Organization:</mat-label>
                <mat-select matNativeControl id="organization" [(ngModel)]="selectedOrganizationId" name="organization" required>
                  <mat-option *ngFor="let organization of organizations" [value]="organization.id">{{ organization.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label for="room">Select Room:</mat-label>
                <mat-select matNativeControl id="room" [(ngModel)]="selectedRoomId" name="room" required>
                  <mat-option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <button color="accent" mat-raised-button type="submit">Add Room</button>
              <div class="success-message" *ngIf="addRoomSuccessMessage">{{ addRoomSuccessMessage }}</div>
              <div class="error-message" *ngIf="addRoomErrorMessage">{{ addRoomErrorMessage }}</div>
            </form>
          </div>
          
    </div>
</div>